
@charset "UTF-8";
/*----------------------------------------------------- CSS DOCUMENT --------------------------------------------------------------*/
/*   ---- LEGAL ---- 

PROJECT:
CLIENT:
DEVELOPER:
COMPANY:
WEBSITE:
CONTACT:

*/

/*   ---- COLOR PALETTE ---
    
     #363636         GRAY
     #00dcb0         GREEN  
     #973bb7         PURPLE 
     #5ec64d         DARK GREEN 
     #27aae2         BLUE
     #fec224         YELLOW
     #eb48c5         PINK
     #bc68fc         LIGHT PURPLE
     #ff5555         RED

*/


        /* ------  Fonts ------ */
@font-face {
	font-family: 'Cantarell';
	src: url('../_fonts/Cantarell-Regular-webfont.eot');
	src: url('../_fonts/Cantarell-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('../_fonts/Cantarell-Regular-webfont.woff') format('woff'), url('../_fonts/Cantarell-Regular-webfont.ttf') format('truetype'), url('../_fonts/Cantarell-Regular-webfont.svg#webfont9UOzsjXz') format('svg');
	font-weight: normal;
	font-style:normal;
}

@font-face {
	font-family: 'Cantarell';
	src: url('../_fonts/Cantarell-Oblique-webfont.eot');
	src: url('../_fonts/Cantarell-Oblique-webfont.eot?#iefix') format('embedded-opentype'), url('../_fonts/Cantarell-Oblique-webfont.woff') format('woff'), url('../_fonts/Cantarell-Oblique-webfont.ttf') format('truetype'), url('../_fonts/Cantarell-Oblique-webfont.svg#webfontRl4nowrT') format('svg');
	font-weight: normal;
	font-style:italic;
}

@font-face {
	font-family: 'Cantarell';
	src: url('../_fonts/Cantarell-Bold-webfont.eot');
	src: url('../_fonts/Cantarell-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('../_fonts/Cantarell-Bold-webfont.woff') format('woff'), url('../_fonts/Cantarell-Bold-webfont.ttf') format('truetype'), url('../_fonts/Cantarell-Bold-webfont.svg#webfontKr2CkGZp') format('svg');
	font-weight: bold;
	font-style:normal;
}

@font-face {
	font-family: 'Cantarell';
	src: url('../_fonts/Cantarell-BoldOblique-webfont.eot');
	src: url('../_fonts/Cantarell-BoldOblique-webfont.eot?#iefix') format('embedded-opentype'), url('../_fonts/Cantarell-BoldOblique-webfont.woff') format('woff'), url('../_fonts/Cantarell-BoldOblique-webfont.ttf') format('truetype'), url('../_fonts/Cantarell-BoldOblique-webfont.svg#webfontQ1aSR0ux') format('svg');
	font-weight: bold;
	font-style:italic;
}

@font-face {
	font-family: "Cardo";
	src: url("../_fonts/Cardo99s-webfont.eot");
	src: url("../_fonts/Cardo99s-webfont.eot?#iefix") format("embedded-opentype"), url("../_fonts/Cardo99s-webfont.woff") format("woff"), url("../_fonts/Cardo99s-webfont.ttf") format("truetype"), url("../_fonts/Cardo99s-webfont.svg#webfontQ5EXXZTZ") format("svg");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OstrichSansBold';
	src: url('../_fonts/ostrich-bold-webfont.eot');
	src: url('../_fonts/ostrich-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../_fonts/ostrich-bold-webfont.woff') format('woff'), url('../_fonts/ostrich-bold-webfont.ttf') format('truetype'), url('../_fonts/ostrich-bold-webfont.svg#OstrichSansBold') format('svg');
	font-weight: normal;
	font-style: normal;
}


                /* ------------------------------------------ Global Styles --------------------------------------------- */

 /* Limited CSS Reset */
html, body, div, section, article, aside, header, hgroup, footer, nav, h1, h2, h3, h4, h5, h6, p, blockquote, address, time, span, em, strong, img, ol, ul, li, figure, canvas, video, th, td, tr {
        margin: 0;
        padding: 0;
        border: 0;
        vertical-align:baseline;
        font: inherit;
}


 /* HTML5 Display Rule */
address, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, nav, menu, nav, section, summary {
	   display: block;
}
body{
    margin: 0;
    padding: 0;
    background-color: rgb(231, 231, 231);
}

header{
	background-color: #fff;
	height: 55px;
	/* display: flex;
	justify-content: space-evenly; */
}
 header nav ul h1{
	background-image: url(../Assets/Zoom.jpg);
	background-size: 100px;
	background-repeat: no-repeat;
	margin-top: 12.8px;
	padding-bottom: 22.4px;
	padding-right: 928px;
}
header nav ul li{
	display: inline-block;
	padding-left: 80px;
	font-size: 18px;
	
}
nav ul li a{
	text-decoration: none;
	color: rgb(48, 48, 250);
}
body article{
	margin-left: 416px;
	margin-top: 80px;
	margin-bottom: 80px;
	background-color: #fff;
	height: 400px;
	width: 40%;
	text-align: center;
	border-radius: 10px;
}
body article h2{
	font-weight: bold;
	font-size: 20.8px;
	padding-top: 48px;
	padding-bottom: 16px;

}
body article p{
	color: rgb(100, 98, 98);
}

main article div span{
	color: #fff;
	background-color: rgb(82, 4, 134);
	text-transform: uppercase;
	padding: 12.8px;
	border-radius: 2px;
	padding-bottom: 12.8px;
	padding-top: 9.6px;
	margin-top: 4.8px;
	/* margin-bottom: 5rem; */
	float: left;
	clear: both;
	margin-left: 16px;

}
article div{
	display: inline-block;
	margin-top: 48px;
	margin-bottom: 32px;
}
article div h3{
	margin-top: 16px;
	float: left;
	font-weight: bold;
	margin-left: 4.8px;
	text-transform: capitalize;
}
article div{
	background-color: #fff;
	width: 176px;
}
article div p{
	font-size: 11px;
	color: rgb(172, 168, 168);
	float: right;
	font-weight: normal;
	margin-left: 0;
}
article section a{
	color: #fff;
	text-decoration: none;
	background-color: rgb(4, 117, 247);
	padding: 9.6px 80px;
	border-radius: 10px;
}
article section p{
	margin-top: 32px;
	font-size: 12px;
}
article section p span{
	color: rgb(74, 116, 253);
}

body footer{
	text-align: center;
	color: rgb(117, 114, 114);
	width: 352px;
	margin-left: 528px;
	font-size: 13px;
}